
NPColorPicker.xcodeproj/project.xcworkspace/xcuserdata/evalentin.xcuserdatad/UserInterfaceState.xcuserstate

NPColorPicker.xcodeproj/xcuserdata/evalentin.xcuserdatad/xcschemes/NPColorPicker.xcscheme

NPColorPicker.xcodeproj/xcuserdata/evalentin.xcuserdatad/xcschemes/xcschememanagement.plist

NPColorPicker.xcodeproj/project.xcworkspace/xcuserdata/evalentin.xcuserdatad/WorkspaceSettings.xcsettings

NPColorPicker.xcodeproj/xcuserdata/evalentin.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
